html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff;
    font-family: mallory, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    min-width: 980px;
    height: 100%;
}

.container {
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: mallory, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    p,
    ul {
        margin-bottom: 0;
    }
}

.flex-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.box-shadow {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .12);
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #e9ebee;
    background: linear-gradient(to right, #e9ebee 8%, #dddfe2, 23%, #e9ebee 40%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.animated-background-2 {
    -webkit-animation: 1.5s flash ease-in-out;
    animation: 1.5s flash ease-in-out;
    background: #fff;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

textarea {
    resize: vertical;
}

.checkbox {
    margin: 4px 0;
    input[type=checkbox] {
        position: absolute;
        left: -9999px;
        visibility: hidden;
        &+label {
            position: relative;
            padding-left: 27px;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
        }
        &+label::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            z-index: 0;
            border: 1px solid #e8e8e8;
            -webkit-border-radius: 0;
            border-radius: 0;
            margin-top: 2px;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
        }
        &+label::before {
            content: "";
            position: absolute;
            top: 0;
            left: -1px;
            width: 14px;
            height: 14px;
            z-index: 0;
            border: 1px solid transparent;
            -webkit-border-radius: 0;
            border-radius: 0;
            margin-top: 2px;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
        }
        &:checked+label::before {
            -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
            -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
            transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
            z-index: 1;
            border-style: solid;
            border-width: 2px;
            width: 8px;
            height: 13px;
            border-color: transparent $link_active $link_active transparent;
            -webkit-transform: rotateZ(37deg);
            -ms-transform: rotate(37deg);
            transform: rotateZ(37deg);
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
    }
    input[type=radio] {
        position: absolute;
        left: -9999px;
        visibility: hidden;
        &+label {
            position: relative;
            padding-left: 27px;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
        }
        &+label::before {
            content: "";
            position: absolute;
            top: 0;
            left: -1px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            z-index: 0;
            border: 1px solid #e8e8e8;
            margin-top: 2px;
        }
        &+label::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 9px solid transparent;
            -webkit-transition: .15s;
            -o-transition: .15s;
            transition: .15s;
        }
        &:checked+label::after {
            top: 5px;
            left: 2px;
            width: 8px;
            height: 8px;
            border: 4px solid $link_active;
            -webkit-transition: .15s;
            -o-transition: .15s;
            transition: .15s;
        }
    }
    &:hover {
        label {
            color: $link_active;
        }
    }
}

.checkbox-2 {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    input[type=radio] {
        position: absolute;
        left: -9999px;
        visibility: hidden;
        & + label {
            padding: 6px 12px;
            border: solid 2px transparent;
            cursor: pointer;
            transition: all .15s ease-in-out;
            text-transform: uppercase;
        }
        &:checked + label,
        & + label:hover {
            color: $link_active;
            border: solid 2px $link_active;
        }
    }
}

.fa-star {
    color: #f99e00;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}

.loader {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 0 auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before,
.loader:after {
    position: absolute;
    content: '';
}

.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: $main_color_2;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: $main_color_2;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

.ui-tooltip,
.arrow:after {
    background: black;
    border: 2px solid white;
}

.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 10px;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow.top:after {
    bottom: -20px;
    top: auto;
}

.daterangepicker {
    font-family: mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
