.main-header {
    position: relative;
    z-index: 2;
    height: 60px;
    background-color: #fff;
    padding: 0 16px;
    color: $text_normal;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .12);
    .logo {
        display: inline-block;
        line-height: 60px;
    }
    .logo-image {
        width: 89px;
        height: 37px;
    }
    ul.nav-items {
        display: inline-block;
        margin-left: 30px;
        position: relative;
        &::before {
            bottom: 10px;
            top: 10px;
            border-right: 1px solid #eee;
            content: " ";
            position: absolute;
            left: -10px;
        }
        li {
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            margin-right: 4px;
            a {
                position: relative;
                display: inline-block;
                line-height: 60px;
                padding: 0 10px;
                color: $text_normal;
                font-weight: 700;
                font-size: 13px;
                &:active::after,
                &:hover,
                &:focus,
                &.active {
                    text-decoration: none;
                    color: $link_active;
                }
                &::after {
                    content: '';
                    width: 0;
                    height: 4px;
                    background-color: $link_active;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: width .4s ease-in-out;
                }
                &:hover::after,
                &.active::after {
                    width: 100%;
                }
            }
        }
    }
}
