.map-modal {
    width: 98%;
    height: 94%;
    max-width: 98%;
}
#map-modal {
    padding-right: 0 !important;
    .modal-body {
        padding: 0;
    }
}
.google-map-container {
    height: 82vh;
    width: 100%;
}
.scrollable-list {
    height: 82vh;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: gray;
    }
}
.sort-by {
    padding-left: 15px;
    padding-bottom: 25px; 
}
ul.map-hotel-items {
    padding-left: 15px;
    li.map-hotel-item {
        margin-bottom: 20px;
        @extend .flex-box;
        border: 1px solid hsla(0,0%,59%,.42);
        transition: box-shadow .3s ease-in-out;
        list-style: none;
        height: 160px;
        &:hover {
            box-shadow: 2px 4px 6px 1px rgba(0,0,0,.2);
            .item-thumb {
                img.image-1 {
                    display: none;
                }
                img.image-2 {
                    display: block;
                }
            }
            .more-detail {
                background-color: $link_active;
                color: #fff !important;
            }
        }
        .item-thumb {
            overflow: hidden;
            width: 150px;
            height: 100%;
            img {
                -webkit-transform: translateX(-25%);
                transform: translateX(-25%);
            }
            img.image-1 {
                display: block;
            }
            img.image-2 {
                display: none;
            }
        }
        .item-description {
            width: calc(100% - 150px);
            padding: 0 12px;
            position: relative;
            h4 {
                margin: 6px 0;
            }
            ul.list-services {
                @extend .flex-box;
                padding: 0;
                li {
                    list-style: none;
                    color: #63c355;
                    margin-right: 6px;
                    border: none;
                    font-size: 12px;
                    font-weight: 400;
                    height: auto;
                    span {
                        font-family: mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
                    }
                }
            }
            .rating-location {
                margin-bottom: 6px;
            }
            .rating-container {
                @extend .flex-box;
                position: relative;
                height: 30px;
                padding-left: 38px;
                .triangle-pointer {
                    width: 8px;
                    height: 8px;
                }
                .review {
                    font-size: 12px;
                }
                .rating-square {
                    background-color: #488bf8;
                    color: #fff;
                    width: 30px;
                    height: 26px;
                    border-radius: 4px;
                    border-top-right-radius: 0;
                    display: inline-block;
                    text-align: center;
                    line-height: 26px;
                    font-size: 16px;
                    font-weight: 700;
                    margin-left: 0;
                    margin-top: -4px;
                    position: absolute;
                    left: 0;
                    span {
                        position: absolute;
                        margin-left: -5px;
                    }
                }
                .rating-square::after {
                    content: '';
                    border-top: 7px solid #488bf8;
                    border-right: 10px solid white;
                    width: 7px;
                    height: 6px;
                    display: inline-block;
                    position: relative;
                    right: -20px;
                    top: -11px;
                }
            }
            .more-detail {
                border: solid 1px $link_active;
                border-radius: 3px;
                color: $link_active;
                font-size: 12px;
                font-weight: 400;
                padding: 3px 6px;
                transition: all .3s ease-in-out;
                box-shadow: none;
                position: absolute;
                bottom: 10px;
                right: 15px;
            }
        }
    }
}

.map-header {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    z-index: 1001;

    .filters-container-root {
        height: 85px;
        z-index: 1100;

        .filters-container {
            height: auto;
            margin: 0;
            ul.filters-list {
                @extend .flex-box;
                li.filter-item {
                    list-style: none;
                    width: 33.33%;
                    border-right: 1px solid #ddd;
                    border-left: 1px solid #ddd;
                    position: relative;
                    .title {
                        padding: 6px 0;
                        cursor: text;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .dots {
                        display: none;
                    }
                }
                li.filter-item__hoverable {
                    min-height: 85px;
                    max-height: 85px;
                    background-color: #fff;
                    padding: 0 15px 8px;
                    transition: all .3s ease-in-out;
                    overflow: hidden;
                    z-index: 1100;
                    &:hover {
                        max-height: 205px;
                        box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
                        .dots {
                            opacity: 0;
                        }
                    }
                    .dots {
                        display: block;
                        opacity: 1;
                        position: absolute;
                        bottom: 0;
                        height: 30px;
                        background-color: #fff;
                        width: 100%;
                        margin-left: -15px;
                        text-align: center;
                        font-size: 30px;
                        line-height: 15px;
                        transition: opacity 0.3s linear;
                    }
                }
            }
        }
    }
}