.flights-footer-container
    h5 
        a(href="#") Privacy Policy
    p All material herein © 2005–2018 Agoda Company Pte. Ltd. All Rights Reserved. Agoda is part of Booking Holdings Inc., the world leader in online travel & related services
    ul.logos
        li
            img(src="assets/images/agoda.png")
        li
            img(src="assets/images/priceline.png")
        li
            img(src="assets/images/kayak.png")
        li
            img(src="assets/images/opentable.png")
        li
            img(src="assets/images/rentalcars.png")
        li
            img(src="assets/images/booking.png")