header.main-header
  a.logo(href="./home.html")
    img.logo-image(src="assets/images/agoda-logo.svg")
  ul.nav-items
    li
      a.active(href="#")
        | Rooms
      a(href="./flights.html")
        | Flights