mixin squareTile(item) 
    .col-md-6.square-tile.loading
          .detail
            h3 Drop prices up to 30%
            small Sign in now for member-only deal
            button.btn Sign in now
          img(src=item.image)