extends layout
include mixins/header
include mixins/square-tile
include mixins/double-square-tile
block content
  - var item1 = {image: "assets/images/promote1_background.png"}
  - var doubleItem1 = {image: "assets/images/promote2_background.jpg"}
  +header("Rooms")
  section.tile-container
    img.sticky-image(src="assets/images/skyline.png")
    section.tile-content-wrapper
      .tile-content
        .form-banner
          .welcome-message.loading
            h1 HOTELS, RESORTS, HOSTELS & MORE
          .search-box 
            .destination  
              i.search-icon.fa.fa-search
              .input-holder
                input#destination-input(placeholder="Enter destination or property", value="Ha Noi")
              .destination-search-results.popup-result
                ul
                  li 
                    .result-item
                      i.fa.fa-hotel 
                      span &nbsp Ha Noi, Viet Nam
                  li 
                    .result-item
                      i.fa.fa-star
                      span &nbsp Ha Noi Club, Viet Nam
                  li 
                    .result-item
                      i.fa.fa-coffee
                      span &nbsp Ha Noi Central, Viet Nam
            .select-date
              .start-date
                .input-group
                  span.input-group-addon
                    i.fa.fa-calendar
                  input.form-control#start-date-picker
              //- .end-date
              //-   .input-group
              //-     span.input-group-addon
              //-       i.fa.fa-calendar
              //-     input.form-control#end-date-picker
            .box-and-button      
              .occupancy-box
                i.box-icon.fa.fa-users
                .box-results
                  .box-people
                    span.loading  
                      span.adults-text 3 adults, 
                      span.children-text 0 children
                  .box-rooms
                    span.loading  
                      span.rooms 3 rooms
                .occupancy-edit.popup-result
                  .plusminusrow
                    span.minus
                      i.fa.fa-minus
                    span.amount(data-amount="3") 3
                    span.unit Rooms
                    span.plus
                      i.fa.fa-plus
                  .plusminusrow
                    span.minus
                      i.fa.fa-minus
                    span.amount(data-amount="3") 3
                    span.unit Adults
                    span.plus
                      i.fa.fa-plus
                  .plusminusrow
                    span.minus
                      i.fa.fa-minus
                    span.amount(data-amount="0", data-allow-zero="true") 0
                    span.unit Children
                    span.plus
                      i.fa.fa-plus
              .search-button  
                a.loading
                  span.loading.search-text Search
                .loader
        .search-result-backdrop
    section.tile-promotion
        +squareTile(item1)
        +squareTile(item1)
        +doubleSquareTile(doubleItem1)
        +squareTile(item1)
        +squareTile(item1)
        +doubleSquareTile(doubleItem1)
        +squareTile(item1)
        +squareTile(item1)
block script
  script(src="assets/js/home.js")
  