extends layout
include mixins/header

block content
    .search-result-backdrop
    +header("Rooms")
    .search-box-2
        .container
            .destination.col-sm-4
                i.search-icon.fa.fa-search
                .input-holder
                    input#destination-input(value="Galaxy Star Hotel")
                .destination-search-results.popup-result
                    ul
                        li.result-item
                            i.fa.fa-hotel 
                            span &nbsp Ha Noi, Viet Nam
                        li.result-item
                            i.fa.fa-star
                            span &nbsp Ha Noi Club, Viet Nam
                        li.result-item
                            i.fa.fa-coffee
                            span &nbsp Ha Noi Central, Viet Nam
            .select-date.col-sm-4
                .start-date
                    .input-group
                        span.input-group-addon
                            i.fa.fa-calendar
                        input.form-control#start-date-picker
            .box-and-button.col-sm-4    
                .occupancy-box
                    i.box-icon.fa.fa-users
                    .box-results
                        .box-people
                            span.loading.adults-text 3 adults, 
                            span.loading.children-text 0 children
                        .box-rooms  
                            span.loading.rooms 3 rooms
                    .occupancy-edit.popup-result
                        .plusminusrow
                            span.minus
                                i.fa.fa-minus
                            span.amount(data-amount="3") 3
                            span.unit Rooms
                            span.plus
                                i.fa.fa-plus
                        .plusminusrow
                            span.minus
                                i.fa.fa-minus
                            span.amount(data-amount="3") 3
                            span.unit Adults
                            span.plus
                                i.fa.fa-plus
                        .plusminusrow
                            span.minus
                                i.fa.fa-minus
                            span.amount(data-amount="0", data-allow-zero="true") 0
                            span.unit Children
                            span.plus
                                i.fa.fa-plus
                .search-button
                    a.loading 
                        span.search-text.loading Search
    .detail-wrapper
        .detail-container
            .image-tile.loading.image-tile-1
                img(src="assets/images/showcase_main.jpg")
                .dark-overlay
                    .view-more
                        h4 View more
            .image-tile.loading.image-tile-2
                img(src="assets/images/thumb2.jpg")
                .dark-overlay
                    .view-more
                        h4 View more
            .image-tile.loading.image-tile-3
                img(src="assets/images/lobby1.jpg")
                .dark-overlay
                    .view-more
                        h4 View more
            .image-tile.loading.image-tile-4
                img(src="assets/images/lobby2.jpg")
                .dark-overlay
                    .view-more
                        h4 View more
            .image-tile.loading.image-tile-5
                img(src="assets/images/exterior.png")
                .dark-overlay
                    .view-more
                        h4 View more
            .image-tile.loading.image-tile-6
                img(src="assets/images/map-2.svg")
                .dark-overlay
                    .view-more
                        h4 See map
            .image-tile.loading.image-tile-7
                img(src="assets/images/thumb3.jpg")
                .dark-overlay
                    .view-more
                        h4 View all photos
    .hotel-info.container.loading
        .col-md-8
            h3 Galaxy Star Hotel &nbsp
                small
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
            a(href="#") 
                i.fa.fa-map-marker 
                span &nbsp Hoan Kiem District, Ha Noi - View on map
        .col-md-4
block script
    script(src="assets/js/home-detail.js")
