doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Agoda
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/others/daterangepicker.css')
    link(rel='stylesheet', href='/css/others/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/main.css')

  body
    include partials/header

    block content

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/moment.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/daterangepicker.js')
    script(src='/js/lib/jquery-ui.min.js')
    //- script(async defer src="https://buttons.github.io/buttons.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHju5tjHE_gfJ4BOd8Vm4PdwxmNCGsR0Q&callback=initMap" async="", defer="")
    script(src='/js/main.js')
    block script
