doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Agoda
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='assets/images/favicon.png')
    link(rel='stylesheet', href='assets/css/daterangepicker.css')
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/jquery-ui.min.css')
    link(rel='stylesheet', href='assets/css/main.css')

  body
    block content

    include partials/footer

    script(src='assets/js/jquery-3.1.1.min.js')
    script(src='assets/js/moment.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/daterangepicker.js')
    script(src='assets/js/jquery-ui.min.js')
    block script
