doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Agoda
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='assets/images/favicon.png')
    link(rel='stylesheet', href='assets/css/daterangepicker.css')
    link(rel='stylesheet', href='assets/css/jquery-ui.min.css')
    link(rel='stylesheet', href='assets/css/main.css')

  body
    include partials/header

    block content

    script(src='assets/js/jquery-3.1.1.min.js')
    script(src='assets/js/moment.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/daterangepicker.js')
    script(src='assets/js/jquery-ui.min.js')
    //- script(async defer src="https://buttons.github.io/buttons.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv2Dq4WB_Y5ozSFlleRFubxftgyiLUF1c&callback=initMap" async="", defer="")
    //- script(src='assets/js/main.js')
    block script
