extends layout
include mixins/header
include mixins/promotion-card
include mixins/promotion-card-2
block content
    - var item1 = {img: '../assets/images/promo-hongkong.jpg', description: 'Get an additional 10% discount on top of great deals in Hong Kong.', percentOff: '10% off', expiry: 'Expires in 1 week'}
    - var item2 = {img: '../assets/images/promo-taipei.jpg', description: 'Get 8% off your accommodations in Taipei now.', percentOff: '8% off', expiry: 'Expires in 2 days'}
    - var item3 = {img: '../assets/images/promo-phangan.jpg', description: 'Dreaming of the beach? Get 5% off in Koh Phangan.', percentOff: '5% off', expiry: 'Expires in 4 days'}
    - var item4 = {img: '../assets/images/promo-rome.jpg', description: 'Explore Rome and get 5% off your booking.', percentOff: '5% off', expiry: 'Expires today'}
    - var item5 = {img: '../assets/images/promo-barcelona.jpg', description: 'Weekly Offer - Get 5% off your stay while you explore Barcelona.', percentOff: '5% off', expiry: 'Expires in 5 days'}
    - var itemOther1 = {img: '../assets/images/promo-cambodia.jpg', title: "Phnom Penh 17% Off"}
    - var itemOther2 = {img: '../assets/images/promo-korea.jpg', title: "Seoul 11% Off"}
    - var itemOther3 = {img: '../assets/images/promo-czech.jpg', title: "Prague 11% Off"}
    +header("Deals")
    .search-box-2
        .search-result-backdrop
        .container
            .destination.col-sm-4
                i.search-icon.fa.fa-search
                .input-holder
                    input#destination-input(value="Ha Noi")
                .destination-search-results.popup-result
                    ul
                        li.result-item
                            i.fa.fa-hotel 
                            span &nbsp Ha Noi, Viet Nam
                        li.result-item
                            i.fa.fa-star
                            span &nbsp Ha Noi Club, Viet Nam
                        li.result-item
                            i.fa.fa-coffee
                            span &nbsp Ha Noi Central, Viet Nam
            .select-date.col-sm-4
                .start-date
                    .input-group
                        span.input-group-addon
                            i.fa.fa-calendar
                        input.form-control#start-date-picker
            .box-and-button.col-sm-4    
                .occupancy-box
                    i.box-icon.fa.fa-users
                    .box-results
                        .box-people
                            span.loading.adults-text 3 adults, 
                            span.loading.children-text 0 children
                        .box-rooms  
                            span.loading.rooms 3 rooms
                    .occupancy-edit.popup-result
                        .plusminusrow
                            span.minus
                                i.fa.fa-minus
                            span.amount(data-amount="3") 3
                            span.unit Rooms
                            span.plus
                                i.fa.fa-plus
                        .plusminusrow
                            span.minus
                                i.fa.fa-minus
                            span.amount(data-amount="3") 3
                            span.unit Adults
                            span.plus
                                i.fa.fa-plus
                        .plusminusrow
                            span.minus
                                i.fa.fa-minus
                            span.amount(data-amount="0", data-allow-zero="true") 0
                            span.unit Children
                            span.plus
                                i.fa.fa-plus
                .search-button  
                    a.loading(href="#") 
                        span.search-text.loading Search
    .deals-wrapper
        .promo-header
            .promo-header-img
            .promo-title
                span.fa.fa-tag.fa-2x
                .title-content
                    h1 Today's deals
                    p Spontaneous savings. Available nowhere else. Bookmark this page and check back daily.
        h4.promo-title Explore deals
        .promo-wrapper
            +promotionCard(item1)
            +promotionCard(item2)
            +promotionCard(item3)
            +promotionCard(item4)
            +promotionCard(item5)
        h4.promo-title Everyday deals
        .promo-wrapper-2
            +promotionCard2(itemOther1)
            +promotionCard2(itemOther2)
            +promotionCard2(itemOther3)
block script
    script(src="assets/js/today-deals.js")
